@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.loading {
  @include flex-center;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-2xl;
  
  &__spinner {
    border-radius: 50%;
    border: 3px solid rgba($discord-purple, 0.2);
    border-top-color: $discord-purple;
    animation: spin 0.8s linear infinite;
    
    &--small {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }
    
    &--medium {
      width: 40px;
      height: 40px;
    }
    
    &--large {
      width: 60px;
      height: 60px;
      border-width: 4px;
    }
  }
  
  &__text {
    color: $text-secondary;
    font-size: $font-size-sm;
  }
}
